<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            padding: 0 20px;
            height: 60px;
            background-color: pink;
            line-height: 60px
        }
        button{
            vertical-align: center;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div>
        <button>12321</button>
        <span>首页</span>
    </div>
</body>
</html>